<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <maps>
        <api-key>ABQIAAAAI4vi2njWsbWM7ylqbNTA_xTb9cXhFwjERd5O3JebjSLdO05y_hRKjjiCl6VnxbSjR3OBFP4_7PqW7Q</api-key>
        <street>Lageweg 50</street>
        <place>Wedde</place>
    </maps>

    <route>
        <name>Error404</name>
        <controller>Error404</controller>
        <path>/404</path>
        <method>index</method>
    </route>
    <route>
        <name>Home</name>
        <controller>Home</controller>
        <path>/</path>
        <method>index</method>
    </route>
    <route>
        <name>Home</name>
        <controller>Home</controller>
        <path>/home</path>
        <method>index</method>
    </route>
    <route>
        <name>Location</name>
        <controller>Location</controller>
        <path>/locatie</path>
        <method>index</method>
    </route>
    <route>
        <name>Interests</name>
        <controller>Interests</controller>
        <path>/interests</path>
        <method>index</method>
    </route>
    <route>
        <name>Contact</name>
        <controller>Contact</controller>
        <path>/contact</path>
        <method>index</method>
        <httpMethod>POST</httpMethod>
    </route>

</configuration>